/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Reset ends here */

:root {
  --bg-color: floralwhite;
  --fc-black: #444;
}

body {
  background-color: var(--bg-color);
  /* color: var(--fc-black); */
}

main {
  margin: auto;
  width: 450px;
  padding: 4em;
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  color: var(--fc-black);
  text-align: center;
  line-height: 1.2;
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.player-input {
  display: flex;
  gap: .4rem;
  align-items: flex-end;
  /* align-items: center; */
}

label {
  color: var(--fc-black);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 1.5rem;
}

input {
  width: 10ch;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  padding: .5rem;
  background-color: var(--bg-color);
  border: none;
  border-bottom: 3px solid var(--fc-black);
}

.board {
  background-color: var(--fc-black);
  width: calc(300px + 8px);
  /* margin: 4rem auto; */
  /* border: 5px solid olive; */
  display: grid;
  justify-content: center;
  gap: 4px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.square {
  background-color: var(--bg-color);
  color: var(--fc-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  text-transform: lowercase;
}

/* .square:hover {
  background-color: aliceblue;
} */

/* .square:active {
  background-color: aliceblue;
} */